
version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: fleetfinance
      POSTGRES_USER: fleet
      POSTGRES_PASSWORD: fleet123
    ports:
      - "5432:5432"
  api:
    build: .
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/fleetfinance
      SPRING_DATASOURCE_USERNAME: fleet
      SPRING_DATASOURCE_PASSWORD: fleet123
